[submodule "repositories/celine-policies"]
	path = repositories/celine-policies
	url = git@github.com:celine-eu/celine-policies.git
[submodule "repositories/celine-utils"]
	path = repositories/celine-utils
	url = git@github.com:celine-eu/celine-utils.git
[submodule "repositories/digital-twin"]
	path = repositories/digital-twin
	url = git@github.com:celine-eu/digital-twin.git
[submodule "repositories/celine-dashboards"]
	path = repositories/celine-dashboards
	url = git@github.com:celine-eu/celine-dashboards.git
[submodule "repositories/dataset-api"]
	path = repositories/dataset-api
	url = git@github.com:celine-eu/dataset-api.git
[submodule "repositories/rec-registry"]
	path = repositories/rec-registry
	url = git@github.com:celine-eu/rec-registry.git
[submodule "repositories/celine-pipelines"]
	path = repositories/celine-pipelines
	url = git@github.com:celine-eu/celine-pipelines.git
[submodule "repositories/celine-sdk"]
	path = repositories/celine-sdk
	url = git@github.com:celine-eu/celine-sdk.git
[submodule "repositories/celine-ai-assistant"]
	path = repositories/celine-ai-assistant
	url = git@github.com:celine-eu/celine-ai-assistant.git
[submodule "repositories/celine-webapp"]
	path = repositories/celine-webapp
	url = git@github.com:celine-eu/celine-webapp.git
[submodule "repositories/celine-frontend"]
	path = repositories/celine-frontend
	url = git@github.com:celine-eu/celine-frontend.git
