{
  auto_https off
  admin off
}

(auth) {
    forward_auth host-gw:4180 {
        uri /oauth2/auth

        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Host {host}

        copy_headers \
            X-Auth-Request-User \
            X-Auth-Request-Email \
            X-Auth-Request-Groups \
            X-Auth-Request-Access-Token \
            Authorization

        @unauthenticated status 401
        handle_response @unauthenticated {
            redir * http://sso.celine.localhost/oauth2/sign_in?rd={scheme}://{hostport}{uri}
        }
    }
}

http://superset.celine.localhost {
    import auth
    reverse_proxy host-gw:8088
}

http://jupyter.celine.localhost {
    import auth
    reverse_proxy host-gw:8888
}

http://keycloak.celine.localhost {
  reverse_proxy host-gw:8080
}

http://sso.celine.localhost {
  reverse_proxy host-gw:4180
}

http://mqtt.celine.localhost {
  reverse_proxy host-gw:1884
}

# Pipelines
http://marquez.celine.localhost {
  import auth
  reverse_proxy host-gw:5002
}

http://prefect.celine.localhost {
  import auth
  reverse_proxy host-gw:4200
}


# APIs
http://api.celine.localhost {
 
  handle_path /datasets* {
    reverse_proxy host-gw:8001
  }

  handle_path /dt* {
    reverse_proxy host-gw:8002
  }

  handle_path /rec-registry* {
    reverse_proxy host-gw:8004
  }

  handle_path /policies* {
    reverse_proxy host-gw:8009
  }
}
