{
  auto_https off
  admin off
}

(auth) {
    forward_auth host-gw:4180 {
        uri /oauth2/auth

        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Host {host}

        copy_headers \
            X-Auth-Request-User \
            X-Auth-Request-Email \
            X-Auth-Request-Groups \
            X-Auth-Request-Access-Token \
            Authorization

        @unauthenticated status 401
        handle_response @unauthenticated {
            redir * http://sso.celine.localhost/oauth2/sign_in?rd={scheme}://{hostport}{uri}
        }
    }
}

http://superset.celine.localhost {
    import auth
    reverse_proxy host-gw:8088
}

http://jupyter.celine.localhost {
    import auth
    reverse_proxy host-gw:8888
}

http://keycloak.celine.localhost {
  reverse_proxy host-gw:8080
}

http://sso.celine.localhost {
  reverse_proxy host-gw:4180
}

http://datasets.celine.localhost {
  import auth
  reverse_proxy host-gw:8000
}

http://dt.celine.localhost {
  import auth
  reverse_proxy host-gw:8002
}

http://rec-registry.celine.localhost {
  import auth
  reverse_proxy host-gw:8004
}

http://policies.celine.localhost {
  import auth
  reverse_proxy host-gw:8009
}

http://mqtt.celine.localhost {
  reverse_proxy host-gw:1884
}
